.maindiv{
    margin: 20px 200px 20px 400px;
    z-index: 2;
    
}
.header {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    
}
.outerdiv{
    z-index: auto;
}
.pic{
    margin-left: 15px;
}

.sidefont{
    font-size: 22px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.small{
    margin: 8px 0 16px;
    color: #888;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.sidediv ul li li{
    display: none;
}
.sidediv ul li:hover li{
display: block;
}