/* body{
    background-color: lightblue;
} */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #4dbc15;
}
nav{
    background-color: #fff;
}

ul.nav{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* 2nd menu's list items */
ul.nav .nav-item{
    border: 1px solid transparent;
    border-top: 3px solid transparent;
}

/* Links of 2nd menu's li items */
ul.nav a.nav-link{
    padding: 0.25rem 2.6rem 0.5rem 2.6rem;
    font: 600 1rem "segoe ui";
    color: #333;
}

/* Hover over 2nd menu items */
ul.nav .nav-item:hover, div.droptable a:focus{
    color: #4dbc15;
    border-color: #4dbc15 rgba(120, 120, 120, 0.25) transparent rgba(120, 120, 120, 0.25);
    border-style: solid;
    border-width: 3px 1px 0px 1px;
}

/* ul list is hidden here */
.navdrop{
    background-color: #fff;
    visibility: hidden;
    display: none;
    position: absolute;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    max-width: 44%;
}

/* Fixed width of lists inside droptables*/
.navdrop ul{
    min-width: 200px;
}
/* Droptable's ul paddings */
.navdrop .droptable{
    list-style-type: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.droptable a:hover{
    text-decoration: none;
}

/* upon hovering */
ul.nav a.nav-link:hover + .navdrop, .navdrop:hover{
    visibility: visible;
    transition: all 0.2s 0.01s ease;
    z-index: 2;
}

/* To make links inside droptable stretched to li size */
.navdrop ul li a{
    display: block;
    padding: 0.25rem 0;
}

/* Headings of droptable's lists */
.navdrop ul li:first-child{
    color: #2d9b00;
    font: 600 1rem "Segoe UI", sans-serif;
    padding-bottom: 0.5rem;
}

/* Hover over links other than 1st */
.navdrop ul li:not(:first-child) a{
    color: #333333;
    font: 500 0.8rem "Segoe UI", sans-serif;
}
.navdrop ul li:not(:first-child) a:hover{
    color: #2d9b00;
    background-color: #f4f4f4;
}

@media (max-width: 768px){
    ul.nav .navdrop{
        visibility: visible;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}